<!-- <p>sidebar works!</p> -->
<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Tony Stark</h2>
            <h4>tony.stark@marvel.com</h4>
        </div>
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sunayan Das"> -->
        <!-- <img src="../../../../../IMG_20190106_164041.jpg" alt="Sunayan Das"> -->
        <img src="https://cdn.pixabay.com/photo/2021/07/20/14/59/iron-man-6480952__480.jpg" alt="Sunayan Das">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/task">Task</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">Profile</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/leave">Leave</a> -->
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Leave
                </mat-panel-title>
            </mat-expansion-panel-header>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/apply-leave">Apply Leave</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/leave">Leave Balance</a>
        </mat-expansion-panel>
    </mat-accordion>
    
    <mat-divider></mat-divider>

</mat-nav-list>

