<!-- <p>leave works!</p> -->

<div fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="40px">
    <mat-card>
        <mat-card-title>Earned Leave</mat-card-title>
        <mat-card-content>
            <p>0</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">Details</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Casual Leave</mat-card-title>
        <mat-card-content>
            <p>0</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">Details</button>
        </mat-card-actions>
    </mat-card>
</div>