mat-card {
    height: 300px;
    width: 300px;
    text-align: center;
    margin: auto;
    background-color: #458C9B;
}
h1 {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
}
mat-card-content {
    padding-top: 10px;
}

a {
    margin-top: 10px;
}

.is-center {
    text-align: center;
    margin: auto;
    padding: 20px;
}

.btn {
    background-color: #459B66;
    margin-left: 10px;
}